<% layout("layouts/boilerplate.ejs") %>

    
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3>Edit Listing....</h3>
                <form method="post" action="/listings/<%=listing._id%>?_method=put" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input id="title" type="text" name="listing[title]" value="<%=listing.title%>"
                            class="form-control" />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea name="listing[description]" id="description" class="form-control"><%=listing.description%></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image link:</label>
                        <input id="image" type="text" name="listing[image]" value="<%=listing.image%>"
                            class="form-control" />
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price:</label>
                            <input id="price" type="number" name="listing[price]" value="<%=listing.price%>"
                                class="form-control" />
                                <div class="invalid-feedback">
                                    Please enter valid price.
                                </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country:</label>
                            <input id="country" type="text" name="listing[country]" value="<%=listing.country%>"
                                class="form-control" />
                                <div class="invalid-feedback">
                                    Please enter valid country name.
                                </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input id="location" type="text" name="listing[location]" value="<%=listing.location%>"
                            class="form-control" />
                            <div class="invalid-feedback">
                                Please enter valid location.
                            </div>
                    </div>

                    <br />
                    <button class="btn btn-dark edit-btn mt-3">Save changes</button>
                </form>
            </div>
        </div>
    